@model IEnumerable<WebMVC.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Thông tin học phí</h2>
<table class="table">
    <tr>
        <th>
            Ngày đóng học phí
        </th>
        <th>
            Số tiền
        </th>
        <th>
            Ghi chú
        </th>
        <th>
            Tên học sinh
        </th>
        <th>
            Nhân viên thu ngân
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocSinh.TenHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
        </td>
    </tr>
}

</table>
